ul {
    list-style: none;
    font-size: 17px;
}
ul#storagelist {
    line-height: 1.7;
}
ul.cmd-options {
    width: 190px;
}
#select-toggle {
    margin-left: 44px;
}
ul.cmd-options li {
    border-bottom: #777777 solid 1px;
    width: 100%;
    padding: 12px;
}
a {
    text-decoration: none;
    color: #333333;
}
a:visited {
    color: brown;
}
a:hover {
    text-decoration: underline;
}
.control-select {
    float: right;
}
html {
    background-color: #00485b;
}
#body {
    width: 500px;
    margin: auto;
    background-color: #eeffff;
    padding: 8px;
}
#body h2 {
    text-align: center;
}
#content {
    padding: 8px 16px;
    border: #9999cc dashed 2px;
    border-radius: 12px;
}
#content,
button,
input {
    font-size: 18px;
}
.default-settings {
    padding-left: 54px;
}
