body {
  margin: 10px;
  background-color: #00485b;
  color: #eee;
}
html, body {
  height: 100%;
}
button {
  background-color: #555555;
  color: #eeffff;
  border-radius: 5px;
  padding: 4px 6px 6px;
  font-size: 12px;
  height: 26px;
}
button:hover {
  background-color: #333;
}
#host-name {
  font-size: large;
  padding: 2px;
}
#existing-reader-dialog,
#new-reader-dialog {
  position: relative;
  width: 100%;
  height: calc(100% - 70px);
  text-align: center;
  display: none;
}
.controls {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: left;
}
.new-controls {
  margin-top: 12px;
}
.editor {
  border: 2px solid blue;
  text-align: left;
  height: calc(100% - 80px);
  position: absolute;
  width: 100%;
  visibility: hidden;
}
#tabs > div {
  display: inline-block;
  padding: 7px;
  cursor: default;
  background-color: rgba(50,50,250,.5);
  width: 50px;
  z-index: 1;
  height: 15px;
  text-align: center;
}
#tabs > div.selected {
  background-color: blue;
  position: relative;
  top: 2px;
}
#tabs {
  text-align: left;
}
.monaco-editor {
  width: 100%;
  height: 100%;
}
#reader-delete {
  position: absolute;
  right: 0;
  padding: 2px 8px;
}
.switch {
  background: url('../images/toggle.png');
  width: 32px;
  height: 16px;
  display: inline-block;
}
.switch.on {
  background-position: 0 0;
}
.switch.off {
  background-position: 0 16px;
}
.general-controls {
  display: none;
}
.banner {
  display: flex;
  align-content: space-around;
  align-items: baseline;
}
.horizontal-spacer {
  flex: 1 1 auto;
}
#general-toggle,
#dark-toggle {
  display: flex;
  align-items: center;
  text-align: right;
}
.label {
  display: inline-block;
  width: 60px;
  margin-right: 6px;
  margin-bottom: 6px;
}
