body {
  margin: 10px;
  background-color: #00485b;
  color: #eee;
}
html, body {
  height: 100%;
  overflow: hidden;
}
button {
  background-color: #555555;
  color: #eeffff;
  border-radius: 5px;
  padding: 4px 6px 6px;
  font-size: 12px;
  height: 26px;
}
button:hover {
  background-color: #333;
}
#host-name {
  font-size: large;
  padding: 2px;
}
#existing-reader-dialog,
#new-reader-dialog {
  height: calc(100% - 100px);
  text-align: center;
  display: none;
}
#new-reader-dialog {
  top: 20px;
  line-height: 1.6;
}
.controls,
#macros {
  width: 100%;
  text-align: left;
  margin-top: 16px;
}
.controls {
}
.controls a {
  color: #eeffff;
  text-decoration: none;
  float: right;
  top: 5px;
}
.controls a:hover {
  text-decoration: underline;
}
.new-controls {
  margin: 12px 0;
}
.editor {
  border: 2px solid blue;
  text-align: left;
  height: calc(100% - 80px);
  width: 100%;
  display: none;
  margin-top: 6px;
  background-color: #777;
}
.the-editor {
  height: calc(100% - 22px);
}
.the-editor.small {
  height: 120px;
}
.misc {
  padding: 8px;
}
.description {
  height: 20px;
  padding: 2px 0 0 12px;
  background: blue;
}
.monaco-editor {
  width: 100%;
  height: 100%;
}
#reader-delete {
  padding: 2px 8px;
  float: right;
}
.switch {
  background: url('../images/toggle.png');
  width: 32px;
  height: 16px;
  display: inline-block;
}
.switch.on {
  background-position: 0 0;
}
.switch.off {
  background-position: 0 16px;
}
.general-controls {
  display: none;
  line-height: 1.5;
}
.banner {
  display: flex;
  align-content: space-around;
  align-items: baseline;
}
.horizontal-spacer {
  flex: 1 1 auto;
}
#general-toggle,
#dark-toggle {
  display: flex;
  align-items: center;
  text-align: right;
}
#active-toggle {
  float: right;
  text-align: right;
  margin-right: 32px;
}
#active-toggle .switch {
  position: relative;
  top: 5px;
}
.label {
  display: inline-block;
  width: 60px;
  margin-right: 6px;
  margin-bottom: 6px;
}
