body {
  margin: 5px 10px 10px;
  background-color: #00485b;
  color: #eee;
}
html, body {
  height: 100%;
}
h2 {
  color: #ccc;
  text-align: center;
}
button {
  background-color: #555555;
  color: #eeffff;
  border-radius: 5px;
  padding: 4px 6px 6px;
  font-size: 12px;
  height: 26px;
}
#existing-reader-dialog,
#new-reader-dialog {
  width: 500px;
  text-align: center;
}
#existing-reader-dialog,
#new-reader-dialog {
  display: none;
  position: relative;
  width: 100%;
  height: calc(100% - 70px);
}
.controls {
  position: absolute;
  bottom: 0;
}
.new-controls {
  margin-top: 12px;
}
#css-editor,
#selector-editor {
  border: 1px solid gray;
  text-align: left;
  height: calc(100% - 70px);
  visibility: hidden;
  position: absolute;
  width: 100%;
}
#tabs > div {
  display: inline-block;
  padding: 7px;
  cursor: default;
  background-color: rgba(50,50,250,.5);
}
#tabs > div.selected {
  background-color: blue;
}
#tabs {
  text-align: left;
}
.monaco-editor {
  width: 100%;
  height: 100%;
}
#reader-delete {
  float: right;
}

/** temporarily */
#article {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}
