ul {
    list-style: none;
    line-height: 1.7;
    width: max-content;
}
html {
    background-color: #00485b;
}
body {
    /*width: 800px;*/
    margin: auto;
    background-color: #eeffff;
    padding: 8px;
}
body h3 {
    text-align: center;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.container {
    display: flex;
    gap: 12px;
}
.monaco-editor {
    width: 440px !important;
}
.editor.selector .monaco-editor {
    height: 60px !important;
}
.editor.default .monaco-editor {
    height: 800px !important;
}
.editor.dark .monaco-editor {
    height: 800px !important;
}
#sites-list-container {
    transition: width .35s ease-in-out;
}
#toggle-container {
    /*display: none;*/
    position: absolute;
    left: 10px;
    top: 10px;
}
